<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>08-11-antonushkina-osipova</display-name>
  <welcome-file-list>
    <welcome-file>/jsp/index.jsp</welcome-file>
  </welcome-file-list>
  <display-name> Warehouse </display-name>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <listener>
    <listener-class>ru.rsreu.antonushkinaosipova.SessionListener</listener-class>
  </listener>
  <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>ru.rsreu.antonushkinaosipova.ServletSecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/jsp/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AdminPagesFilter</filter-name>
    <filter-class>ru.rsreu.antonushkinaosipova.AdminPagesFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminPagesFilter</filter-name>
    <url-pattern>/jsp/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <display-name>FrontControllerDisplay</display-name>
    <servlet-name>FrontControllerName</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewingUsers</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewingUsers</servlet-name>
    <url-pattern>/viewing_users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewingAuthorizedUsers</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewingAuthorizedUsers</servlet-name>
    <url-pattern>/viewing_authorized_users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletingUser</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletingUser</servlet-name>
    <url-pattern>/deleting_user_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddingUser</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddingUser</servlet-name>
    <url-pattern>/adding_user_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewingEnterRequests</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewingEnterRequests</servlet-name>
    <url-pattern>/viewing_enter_requests</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewingLoadRequests</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewingLoadRequests</servlet-name>
    <url-pattern>/viewing_load_requests</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewingDrivers</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewingDrivers</servlet-name>
    <url-pattern>/viewing_drivers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewingUsersStatus</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewingUsersStatus</servlet-name>
    <url-pattern>/viewing_users_status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BlockingUsers</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlockingUsers</servlet-name>
    <url-pattern>/blocking</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApprovingEnterRequest</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovingEnterRequest</servlet-name>
    <url-pattern>/approving_enter_request</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RejectingEnterRequest</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectingEnterRequest</servlet-name>
    <url-pattern>/rejecting_enter_request</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApprovingLoadRequest</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovingLoadRequest</servlet-name>
    <url-pattern>/approving_load_request</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RejectingLoadRequest</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectingLoadRequest</servlet-name>
    <url-pattern>/rejecting_load_request</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApprovingUnloadRequest</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovingUnloadRequest</servlet-name>
    <url-pattern>/approving_unload_request</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RejectingUnloadRequest</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectingUnloadRequest</servlet-name>
    <url-pattern>/rejecting_unload_request</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewingGoods</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewingGoods</servlet-name>
    <url-pattern>/viewing_goods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletingGoods</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletingGoods</servlet-name>
    <url-pattern>/goods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddingGoods</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddingGoods</servlet-name>
    <url-pattern>/adding_goods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MakingEnterRequest</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakingEnterRequest</servlet-name>
    <url-pattern>/making_enter_request_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MakingLoadRequest</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakingLoadRequest</servlet-name>
    <url-pattern>/making_load_request</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewingDriverEnterRequests</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewingDriverEnterRequests</servlet-name>
    <url-pattern>/viewing_driver_enter_requests</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewingDriverLoadRequests</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewingDriverLoadRequests</servlet-name>
    <url-pattern>/viewing_driver_load_requests</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletingUsers</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletingUsers</servlet-name>
    <url-pattern>/deleting_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddingUsers</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddingUsers</servlet-name>
    <url-pattern>/adding_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendingEnterRequest</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendingEnterRequest</servlet-name>
    <url-pattern>/sending_enter_request</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendingLoadRequest</servlet-name>
    <servlet-class>ru.rsreu.antonushkinaosipova.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendingLoadRequest</servlet-name>
    <url-pattern>/sending_load_request</url-pattern>
  </servlet-mapping>
</web-app>